.login-form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background: linear-gradient( rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url("../../assets/img/bg-login.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.title {
    margin-bottom: 30px;
    color: black;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.email {
    min-width: 300px;
}

.password {
    margin-top: 20px;
    min-width: 300px;
}