<mat-tab-group>

    <mat-tab label="Пананель редагування головної сторінки">
        <ng-template matTabContent>
            <mat-drawer-container autosize>

                <!--  Editor container -->
                <mat-drawer #drawer mode="side">

                    <mat-accordion>

                        <!-- Title editor -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Заголовок
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="editor">
                                <mat-label>Заголовок</mat-label>
                                <input matInput [(ngModel)]="mainPageService.company.title">
                            </mat-form-field>
                        </mat-expansion-panel>

                        <!-- Discription editor -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Підзаголовок
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="editor">
                                <mat-label>Підзаголовок</mat-label>
                                <textarea matInput [(ngModel)]="mainPageService.company.subtitle"></textarea>
                            </mat-form-field>
                        </mat-expansion-panel>
                        <!-- News editor -->
                        <mat-expansion-panel>

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Новини
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <app-news-editor></app-news-editor>

                        </mat-expansion-panel>

                        <!-- About company editor -->
                        <mat-expansion-panel>

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Інформація про компанію
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="editor">
                                <mat-label>Слоган</mat-label>
                                <textarea matInput [(ngModel)]="mainPageService.company.tagline"></textarea>
                            </mat-form-field>

                            <mat-form-field class="editor">
                                <mat-label>Про нас (1 вкладка)</mat-label>
                                <textarea matInput [(ngModel)]="mainPageService.company.aboutUsFirst"></textarea>
                            </mat-form-field>

                            <mat-form-field class="editor">
                                <mat-label>Про нас (2 вкладка)</mat-label>
                                <textarea matInput [(ngModel)]="mainPageService.company.aboutUsSecond"></textarea>
                            </mat-form-field>

                            <mat-form-field class="editor">
                                <mat-label>Про нас (3 вкладка)</mat-label>
                                <textarea matInput [(ngModel)]="mainPageService.company.aboutUsThird"></textarea>
                            </mat-form-field>

                        </mat-expansion-panel>

                    </mat-accordion>

                </mat-drawer>
                <div>
                    <button type="button" mat-button (click)="drawer.toggle()">
                        Редагувати сторінку
                    </button>
                    <app-main-page></app-main-page>
                </div>

            </mat-drawer-container>
        </ng-template>
    </mat-tab>

    <mat-tab label="Кабінет нарахувань">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>

</mat-tab-group>