<mat-tab-group>

    <mat-tab label="Пананель редагування головної сторінки">
        <ng-template matTabContent>
            <mat-drawer-container autosize>

                <!--  Editor container -->
                <mat-drawer #drawer mode="side">

                    <mat-accordion>

                        <!-- Title editor -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Редагувати Заголовок
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="editor">
                                <mat-label>Заголовок</mat-label>
                                <input matInput [(ngModel)]="mainPageService.companyTitle">
                            </mat-form-field>
                        </mat-expansion-panel>

                        <!-- Discription editor -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Редагувати Опис
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="editor">
                                <mat-label>Опис</mat-label>
                                <textarea matInput [(ngModel)]="mainPageService.companyDescription"></textarea>
                            </mat-form-field>
                        </mat-expansion-panel>
                        <!-- News editor -->
                        <mat-expansion-panel>

                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    Редагувати Новини
                                </mat-panel-title>
                            </mat-expansion-panel-header>

                            <app-news-editor></app-news-editor>

                        </mat-expansion-panel>

                    </mat-accordion>

                </mat-drawer>
                <div>
                    <button type="button" mat-button (click)="drawer.toggle()">
                        Редагувати сторінку
                    </button>
                    <app-main-page></app-main-page>
                </div>

            </mat-drawer-container>
        </ng-template>
    </mat-tab>

    <mat-tab label="Кабінет нарахувань">
        <ng-template matTabContent>

        </ng-template>
    </mat-tab>

</mat-tab-group>