/* First screen header-menu  */

.header {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../assets/img/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.menu {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 100px;
    position: relative;
}

.menu-item {
    margin-right: 30px;
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 12px;
}

.company-title {
    padding-top: 220px;
    text-align: center;
}

.company-description {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.8px;
    text-align: center;
    margin-left: 300px;
    margin-right: 300px;
    padding-top: 20px;
}


/* Second screen news */

.news {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.news-description {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.7px;
}

.all-news {
    color: #333b46;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
}

.news-card {
    width: 33.3%;
}

.news-header-image {
    background-image: url('../../assets/img/news.png');
    background-size: cover;
}

.mat-card-title {
    color: #333b46;
    font-family: "Source Sans Pro";
    /* font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    letter-spacing: 4px; */
}

.mat-card-header {
    min-height: 60px;
}


/* Thirt screen about us */

.about {
    background-color: #f3f3f3;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-inline-start: 20px;
    padding-right: 20px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}

.about-title {
    color: #333b46;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.about-subtitle {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.7px;
    width: 50%;
    text-align: center;
    padding-bottom: 40px;
}

.about-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-description {
    color: #81868e;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 20px;
    height: 230px;
}

.about-mat-icon {
    font-size: 30px;
    margin-bottom: 20px;
}


/* Fourth screen footer */

.footer {
    background-color: #262626;
    text-align: center;
    padding-bottom: 50px;
}

.footer-title {
    color: #ffffff;
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-top: 100px;
}

.footer-subtitle {
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.7px;
    padding-bottom: 30px;
}

.social-img {
    padding-left: 15px;
}