<header class="header">
    <ul class="menu">
        <li *ngFor="let item of menu">
            <a class="menu-item" href="#">{{ item.name }}</a>
        </li>
    </ul>

    <div>
        <h1 class="company-title">Ми керуюча компанія</h1>
        <p class="company-description">
            Компанія «Мій дім» заснована 2 вересня 2016 року з метою створення прикладу якісного професійного обслуговування багатоквартирного будинку на максимально прозорою і оптимізованої основі.
        </p>
    </div>
</header>

<section class="news">
    <mat-card *ngFor="let item of news" class="news-card" fxLayout="row">
        <mat-card-header>
            <div mat-card-avatar class="news-header-image"></div>
            <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.image}}" alt="news image">
        <mat-card-content>
            <p class="news-description">
                {{item.description}}
            </p>
        </mat-card-content>
        <mat-card-actions style="align-items: flex-end">
            <button mat-button>
                <a class="all-news" href="{{ item.link }}" target="_blank">Читати більше</a>
            </button>
        </mat-card-actions>
    </mat-card>
</section>

<section class="about">
    <h2 class="about-title">Детально прo нас</h2>
    <p class="about-subtitle">
        «Якщо Ви вважаєте, що компетентність коштує дорого, то спробуйте некомпетентність - вона обійдеться вам набагато дорожче» - Йохан Стаель фон Хольстайн
    </p>

    <mat-tab-group class="about-tabs">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="about-mat-icon">info</mat-icon>
            </ng-template>
            <p class="about-description">
                Компанія «Мій дім» працює виключно з ОСББ, так як механізм ОСББ дозволяє максимально прозоро розподіляти внески співвласників на управління будинком, а також сформувати відповідальне ставлення до своєї власності. Якщо у Вашому будинку ще не створено ОСББ
                - наші фахівці безкоштовно проконсультують Вашу ініціативну групу в його створенні і здійсненні всіх необхідних подальших дій після його реєстрації. Для укладення договору на комплексне обслуговування, ОСББ необхідно: 1) узгодити з нами
                калькуляцію внесків на управління будинком; 2) провести загальні збори з винесенням позитивного рішення з питання укладення договору; 3) на загальних зборах прийняти ряд супутніх питань, необхідних для максимально ефективної роботи ОСББ.
            </p>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="about-mat-icon">record_voice_over</mat-icon>
            </ng-template>
            <p class="about-description">
                Контроль за нашою роботою слід розглядати крізь призму взаємодії з співвласниками, а саме: З Правлінням ОСББ наша команда взаємодіє безперервно шляхом присутності на зборах правління і зустрічей за потребою для обговорення тих питань, що належать до повноважень
                Правління відповідно до Статуту Вашого ОСББ. Для взаємодії з усіма співвласниками будинку з питань усунення аварійних ситуацій, для виклику фахівців, а також для скарг і пропозицій працює диспетчерська служба. Для ліквідації критичних
                ситуацій і забезпечення безпеки наших мешканців функціонує цілодобова аварійна служба. З питань бухгалтерії, довідок, проведення звірок з платежів у нас працює бухгалтерська служба. Телефони цих служб вказані на дошках оголошень в кожному
                під'їзді нашого будинку і на нашому сайті. Керівництво «Мій дім» на запрошення присутній на всіх загальних зборах співвласників.
            </p>
        </mat-tab>

        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="about-mat-icon">help</mat-icon>
            </ng-template>
            <p class="about-description">
                Cпіввласники залишають за собою право прийняття рішень в ОСББ, безпосередньо або через Статутні органи, контролюючи власні кошти у вигляді внесків на управління будинком і ін. Ми одночасно є як одним з підрядників надають послуги ОСББ, так і підконтрольним
                ОСББ кваліфікованим консультативним органом, який спрямований на: - ефективність роботи ОСББ; - мінімізацію можливих помилок з боку Правління ОСББ, Співвласники Вашого багатоквартирного будинку завжди знають, що Правління ОСББ приймає
                рішення, попередньо проконсультувавшись з фахівцями.
            </p>
        </mat-tab>
    </mat-tab-group>
</section>

<section class="footer">
    <h2 class="footer-title">Мій дім</h2>
    <p class="footer-subtitle">
        Copyright 2020. All rights Reserved
    </p>

    <a href="#">
        <img class="social-img" src="../../assets/img/facebook.png" alt="facebook">
        <img class="social-img" src="../../assets/img/twitter.png" alt="twitter">
        <img class="social-img" src="../../assets/img/linkedin.png" alt="linkedin">
        <img class="social-img" src="../../assets/img/instagram.png" alt="instagram">
        <img class="social-img" src="../../assets/img/vimeo.png" alt="vimeo">
    </a>
</section>