<header class="header">
    <ul class="menu">
        <li *ngFor="let item of menu">
            <a class="menu-item" href="#">{{ item.name }}</a>
        </li>
    </ul>

    <div>
        <h1 class="company-title">Ми керуюча компанія</h1>
        <p class="company-description">
            Компанія «Мій дім» заснована 2 вересня 2016 року з метою створення прикладу якісного професійного обслуговування багатоквартирного будинку на максимально прозорою і оптимізованої основі.
        </p>
    </div>
</header>

<section class="news">
    <mat-card *ngFor="let item of news" class="news-card" fxLayout="row">
        <mat-card-header>
            <div mat-card-avatar class="news-header-image"></div>
            <mat-card-title>{{item.title}}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="{{item.image}}" alt="news image">
        <mat-card-content>
            <p class="news-description">
                {{item.description}}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>
                <a class="all-news" href="{{ item.link }}" target="_blank">Читати більше</a>
            </button>
        </mat-card-actions>
    </mat-card>
</section>