<h2 mat-dialog-title class="title">Редактор</h2>
<div mat-dialog-content class="conatiner">
    <mat-form-field>
        <mat-label>Назва статті</mat-label>
        <textarea class="textarea" matInput [(ngModel)]="data.title"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Текст статті</mat-label>
        <textarea class="textarea" matInput [(ngModel)]="data.description"></textarea>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Посилання на статтю</mat-label>
        <textarea class="textarea" matInput [(ngModel)]="data.link"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Вибір світлини</mat-label>
        <ngx-mat-file-input formControlName="fill" placeholder="Вибір світлини"></ngx-mat-file-input>
        <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>Закрити</button>
    <button mat-button (click)="onNoClick()" cdkFocusInitial>Зберегти</button>
</div>